<div class="screen-content">
    <div class="input-spacing" ng-click="showView('layout-menu')">
        <div class=" arrow-holder clickable">
            <div class="arrow-left"></div>
        </div>
        <label class="label-larger grey-color clickable">Back to Layout Menu</label>
    </div>
    <div class="input-spacing page-main-title lesser-height">
        <span>Credit Cards - {{projectManager.selectedLayout.ID}}</span>
    </div>
    <form name="sectionForm" novalidate>
        <wg-main-image 
                       number="01." 
                       header="Upload the image for the Credit Card Page." 
                       details="Provide an image sized exactly- W: 610 x H: 427 px. This image should support the content for this layout."
                       width="610" 
                       height="427" 
                       open-upload-image-dialog-click="openUploadImageDialogClick(callbackOK)">
        </wg-main-image>
        <wg-headline 
                     number="02." 
                     header="The headline is a bolded title for the offer." 
                     details="The headline is the bolded title for the offer, and should be kept brief as content is used on all form factors (mobile).">
        </wg-headline>

        <wg-sub-headline number="03."
                         header="Enter Sub-Headline copy/text."
                         details="Please enter the offer copy in the text field provided and format the text as needed.">
        </wg-sub-headline>

        <wg-details 
                    number="04." 
                    header="The details provide features about the offer." 
                    details="The detail is the bulleted content for the offer and should be kept brief as content is used on all form factors, mobile included. The content must always be in bullet point format and convey the main details and/or benefits of the offer.">
        </wg-details>
        <wg-call-to-action 
                           number="05." 
                           header="Button with static text controlled by NAC not RTO." 
                           details="Button with static text controlled by NAC (not RTO) stating “apply for this card”" 
                           agreement-visible="true">
        </wg-call-to-action>
        <wg-terms-conditions 
                             number="06." 
                             header="HTTPS URL link to the Terms & Conditions document must be PDF format." 
                             details="This is a URL to the Terms & Conditions of the Offer, which needs to be in secure URL https:// structure and PDF file format." 
                             show-tc-url="true">
        </wg-terms-conditions>
        <div ng-include="'../app/partials/action-bar-components.html'"></div>
    </form>
</div>
<div class="dialog noselect" ng-class="{'open': isPreviewDlgVisible }"
     ng-include="previewUrl()"></div>