@using PagedList.Mvc;
@{
    ViewBag.Title = "Admin Page";
}

<div class="site-page">
    <div class="view-stories">
        <h1 class="top-title">Admin page</h1>
        <div class="admin-content">
            Welcome to Admin Page
        </div>
    </div>
</div>