<div class="table-block input-spacing">
    <div class="section-header">
        <h3>{{number}} {{componentName}}</h3>
        <div class="deactivate-component" ng-show="deactivatable">
            <span>Deactivate Component</span>
            <input type="checkbox" name="inactive" ng-checked="component.Inactive" ng-model="component.Inactive" />
        </div>
    </div>

    <div class="section-content">
        <div class="input-container white" nv-file-drop="" uploader="uploader">
            <div ng-show="uploader.isHTML5">
                <div class="zone" nv-file-over="" uploader="uploader" options="{}" over-class="over">
                    <img id="imagePreview" fallback-src="{{DEFAULT_URL}}" ng-src="{{imageURL}}" src="" alt="" ng-click="clickUploadImage()" />
                </div>
                <div class="dad-notification red">{{uiMsg}}</div>
            </div>
            <div ng-show="!uploader.isHTML5">
                <img id="imagePreview" fallback-src="{{DEFAULT_URL}}" ng-src="{{imageURL}}" src="" alt="" ng-click="clickUploadImage()" />
            </div>

            <div class="input-spacing upload-button-positon">
                <button class="button blue image-container-button-positon" ng-click="clickUploadImage()">Upload</button>
            </div>
            <div class="alt-text-container">
                <input placeholder="Insert Alternative Text" id="altText" type="text" ng-model="component.Data.AltText" />
            </div>



            <div ng-if="showLinkUrl" class="alt-text-container">
                <div class="select-input-wrapper">
                    <span class="label">Use solid color background</span>
                    <input type="checkbox" name="solidColor" ng-checked="component.Data.UseSolidColor" ng-model="component.Data.UseSolidColor" />
                    <!--<div class="color-picker-container">
                        <input type="text" id="colorpicker" ng-model="component.Data.HeaderColor" />
                    </div>-->
                    <div class="input-spacing">
                        <select name="urlselect" ng-model="component.Data.selectedOption" ng-options="template.Name for template in Options" ng-change="defaultValue = 'NOT_A_DEFAULT'" ng-class="{'color-for-default': defaultValue != 'NOT_A_DEFAULT'}"></select>
                    </div>
                </div>
                <div class="select-input-wrapper">
                    <span class="label">Show CTA button</span>
                    <input type="checkbox" name="displayCta" ng-checked="component.Data.DisplayHeaderCta" ng-model="component.Data.DisplayHeaderCta" />
                    <div class="color-fields-container">
                        <input type="text" ng-model="component.Data.LearnMoreText" placeholder="Enter CTA button text" />
                        <input type="text" ng-model="component.Data.LearnMoreUrl" placeholder="Enter CTA button url" />
                    </div>
                </div>
                <div>
                    <div class="text-editor" text-angular="text-angular" name="details"
                         ta-toolbar="{{toolbarOptions}}" ng-model="component.Data.HeaderOverlayCopy">
                    </div>
                </div>
            </div>
        </div>

        <div class="section-description">
            <div class="section-main-details">
                <p ng-bind-html="header">
                </p>
            </div>
            <div class="section-explaination">
                <p ng-bind-html="details">
                </p>
            </div>
            <div id="testLearnMore" class="apply-now" style="display:inline-block;text-align:center;vertical-align:middle;visibility:hidden;padding: 0 20px;position:absolute;height:0;">
                {{component.Data.LearnMoreText || ' Learn more'}}<span> &nbsp;&nbsp;&nbsp;&nbsp; &#x25BA;</span>
            </div>           
        </div>

        <div class="clear"></div>

        <div ng-if="false">
            <div class="input-container">
                <div class="input-spacing" ng-show="showTcTextEditor">
                    <div class="text-editor" text-angular="text-angular" ta-toolbar="{{toolbarOptions}}" name="overlay" ng-model="component.Data.OverlayText" ta-disabled='disabled' ta-readonly='disabled'></div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        
    </div>
</div>

