<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="OCTWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56743/WS/OCTWebService.asmx"
                binding="customBinding" bindingConfiguration="OCTWebServiceSoap12"
                contract="OCTWebService.OCTWebServiceSoap12" name="OCTWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>