
@{
    ViewBag.Title = "Index";
}

<br />

<p>
    About the project: 
</p>
<ul>
    <li>wkhtmltopdf it's the used library and it's based on webkit <a href="http://wkhtmltopdf.org/">http://wkhtmltopdf.org/</a></li>
    <li>We are using a .net wrapper from wkhtmltopdf and you can install this package using the nuget pachage manager: <a href="https://www.nuget.org/packages/TuesPechkin/">TuesPechkin 1.0.3</a></li>
    <li><a href="https://github.com/tuespetre/TuesPechkin">Original library -> https://github.com/tuespetre/TuesPechkin</a></li>
    <li><a href="http://wkhtmltopdf.org/usage/wkhtmltopdf.txt">how to use wkhtmltopdf</a></li>
</ul>

<p>
    Know issues and solutions:
</p>
<ul>
    <li>Gif images are not supported!. No solutions for this for now!.</li>
    <li>You must compile your project as x86</li>
    <li>The application pool should have the flag "Enable 32-Bit Applications = True"</li>
    <li>Images under HTTPS are not rendered inside the PDF. Solution: Download and install OpenSSL on the server (More details here: http://www.openssl.org/related/binaries.html)</li>
    <li>Get example @Html.ActionLink("https://en.wikipedia.org/", "Get", new { url = "https://en.wikipedia.org/" })</li>
</ul>

<h1>Test the library!!!</h1>

@using (Html.BeginForm("Download", "Pdf", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    <div class="form-group">
        <label for="docName" class="col-sm-2 control-label">Document Name: </label>
        <div class="col-sm-10">
            <input type="text" name="docName" id="docName" class="form-control" value="" placeholder="@ViewBag.defaultDocName" />
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="col-sm-2 control-label">Url: </label>
        <div class="col-sm-10">
            <input type="text" name="url" id="url" class="form-control" value="" placeholder="@ViewBag.defaultUrl" />
        </div>
    </div>
    <div class="form-group">
        <label for="html" class="col-sm-2 control-label">HTML: </label>
        <div class="col-sm-10">
            <textarea rows="4" cols="40" class="form-control" name="html" id="html"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="fileName" class="col-sm-2 control-label">File Name:</label>
        <div class="col-sm-10">
            <input type="text" name="fileName" id="fileName" value="" placeholder="@ViewBag.defaultFileName" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Convert to PDF</button>
        </div>
    </div>
}