<div class="bg-certificates">
    <div class="banner">
        <div class="image-container">
            <a href="" target="_blank">
                <img class="img-banner" fallback-src="{{DEFAULT_IMAGE_URL}}" ng-src="{{getSrc(ComponentType.MAIN_IMAGE)}}" />

            </a>
        </div>

        <div class="headline">
            <div ng-bind="getComponent(ComponentType.HEADLINE).Data.Headline"></div>
        </div>
        <div class="preview-details">
            <div class="html-view" ng-bind-html="getComponent(ComponentType.DETAILS).Data.Description"></div>
        </div>

        <div class="options">
            <a ng-href="{{getHref(ComponentType.CALL_TO_ACTION)}}" href="" target="_blank" ng-if="isVisible(ComponentType.CALL_TO_ACTION)" class="btn action">
                Apply Now
            </a>
        </div>
        <div ng-if="getComponent(ComponentType.TERMS_CONDITIONS).Data.url">
            <img ng-src="{{PDF_IMAGE_URL}}" />
            <a ng-href="{{getComponent(ComponentType.TERMS_CONDITIONS).Data.url}}" href="" target="_blank" class="link-conditions">Terms and Conditions</a>
        </div>
    </div>
</div>
<div class="pdf-conplete-content">
    <h3>Complete Content:</h3>
    <hr />
    <div class="pdf-complete-content-text" ng-if="!isEmptyOrWhiteSpace(display(ComponentType.HEADLINE))">
        <h4>Headline:</h4>
        <div class="overlay-text-viewer">
            <div ng-bind="getComponent(ComponentType.HEADLINE).Data.Headline"></div>
        </div>
    </div>

    <div class="pdf-complete-content-text">
        <h4>Sub Headline:</h4>
        <div class="html-view subheadline" ng-bind-html="getComponent(ComponentType.SUB_HEADLINE).Data.Description"></div>
    </div>
    <div class="pdf-complete-content-text" ng-if="isVisible(ComponentType.DETAILS)">
        <h4>Details:</h4>
        <div class="overlay-text-viewer html-view" ng-bind-html="getComponent(ComponentType.DETAILS).Data.Description"></div>
    </div>
    <div class="pdf-complete-content-text" ng-if="!isEmptyOrWhiteSpace(getCTALink(ComponentType.CALL_TO_ACTION))">
        <div class="overlay-text-viewer">
            <div ng-if="isALink(ComponentType.CALL_TO_ACTION)">
                <span class="cta-link-text">CTA Link:</span> <a href="{{getCTALink(ComponentType.CALL_TO_ACTION)}}" target="_blank">{{getCTALink(ComponentType.CALL_TO_ACTION)}}</a>
            </div>
            <div ng-if="!isALink(ComponentType.CALL_TO_ACTION)">
                <span class="cta-link-text">CTA Link:</span> {{getCTALink(ComponentType.CALL_TO_ACTION)}}
            </div>
        </div>
    </div>
</div>
<!--<div class="pdf-conplete-content">
    <div class="pdf-complete-content-text" ng-if="!isEmptyOrWhiteSpace(display(ComponentType.HEADLINE))">
        <h4>Note to Reviewers:</h4>
        <div class="overlay-text-viewer">
            Code values are intentionally entered as “######.”
        </div>
        <div class="overlay-text-viewer">
            New Account Center Product Managers check accuracy of promotional codes in validation environment before offer deployment.
        </div>
    </div>
</div>-->

