<div class="bg-signoff-page">
    <div class="banner">
        <div class="image-container">
            <a ng-href="{{getHref(ComponentType.CALL_TO_ACTION)}}" href="" target="_blank">
                <img class="img-banner" fallback-src="{{DEFAULT_IMAGE_URL}}" ng-src="{{getSrc(ComponentType.MAIN_IMAGE)}}"/>
               
            </a>
        </div>
    </div>
</div>
<div class="pdf-conplete-content">
    <h3>Complete Content:</h3>
    <hr />
    <div class="pdf-complete-content-text" ng-if="!isEmptyOrWhiteSpace(getCTALink(ComponentType.CALL_TO_ACTION))">
        <div class="overlay-text-viewer">
            <div ng-if="isALink(ComponentType.CALL_TO_ACTION)">
                <span class="cta-link-text">CTA Link:</span> <a href="{{getCTALink(ComponentType.CALL_TO_ACTION)}}" target="_blank">{{getCTALink(ComponentType.CALL_TO_ACTION)}}</a>
            </div>
            <div ng-if="!isALink(ComponentType.CALL_TO_ACTION)">
                <span class="cta-link-text">CTA Link:</span> {{getCTALink(ComponentType.CALL_TO_ACTION)}}
            </div>
        </div>
    </div>
</div>