/*
   Tuesday, December 2, 20142:43:17 PM
   User: 
   Server: .\sqlexpress
   Database: st1001
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.SectionType.Id', N'Tmp_ID', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.SectionType.Tmp_ID', N'ID', 'COLUMN' 
GO
ALTER TABLE dbo.SectionType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SectionType', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SectionType', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SectionType', 'Object', 'CONTROL') as Contr_Per 