<div class="widget-layout-details" ng-controller="LayoutDetailsController">
    <div class="add-mode" ng-show="viewMode() == ViewMode.CREATE">
        <button class="button blue" ng-click="edit()">Add Content ID Note</button>
    </div>
    <div class="edit-mode" ng-show="viewMode() == ViewMode.EDIT">
        <input type="text" value="" ng-model="layoutDetail().Note" class="editor" maxlength="50" />
        <button class="button orange" ng-click="save()">Save</button>
        <button class="button orange" ng-click="delete()" ng-disabled="!layoutDetail().ID">Delete</button>
    </div>
    <div class="view-mode" ng-show="viewMode() == ViewMode.VIEW">
        <span class="pull-left">{{layoutDetail().Note}}</span>
        <a ng-click="edit()" class="pull-left icon-pencil"></a>
        <div class="clear"></div>
    </div>
</div>