<div class="bg-bulletin-zone">
    <div class="banner">
        <h1 class="page-title">
            Offer Details
        </h1>
        <div class="dark-widget">
            <!--<div class="image-container">
                <a href="" target="_blank">
                    <img class="img-banner" fallback-src="{{DEFAULT_IMAGE_URL}}" ng-src="{{getSrc(ComponentType.MAIN_IMAGE)}}" />
                </a>
            </div>-->
            <div class="text-containter">
                <div class="text-header">
                    <div ng-bind="getComponent(ComponentType.HEADLINE).Data.Headline"></div>
                </div>
                <div class="text-content">
                    <div class="html-view" ng-bind-html="getComponent(ComponentType.OFFER_DETAILS).Data.Description"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="bg-cc-footer">

</div>
