<div class="screen-content">
    <div class="input-spacing" ng-click="showView('layout-menu')">
        <div class=" arrow-holder">
            <div class="arrow-left clickable"></div>
        </div>
        <label class="label-larger grey-color clickable">Back to Layout Menu</label>
    </div>
    <div class="input-spacing page-main-title lesser-height">
        <span>Equity - {{projectManager.selectedLayout.ID}}</span>
    </div>
    <form name="sectionForm" novalidate>
        <wg-headline number="01."
                     max-length="2000" 
                     header="The headline is a bolded title for the offer."
                     details="The headline is the bolded title for the offer and should be kept brief as content is used on all form factors, mobile included. The headline should be positioned as a question which can be answered with Yes/No as the toggle to opt into the offer has “Yes” and “No” as the response.">
        </wg-headline>
        <wg-details number="02."
                    header="The details provide features about the offer."
                    details="The detail is the bulleted content for the offer and should be kept brief as content is used on all form factors, mobile included. The content must always be in bullet point format and convey the main details and/or benefits of the offer.">
        </wg-details>
        <wg-terms-conditions number="03."
                             header="Equity Terms and Conditions."
                             details="Allows capture and formatting of text used to describe the Terms and Conditions."
                             show-tc-text-editor="true"
                             show-tc-url="false">
        </wg-terms-conditions>
        <div ng-include="'../app/partials/action-bar-components.html'"></div>
    </form>
</div>
<div class="dialog noselect" ng-class="{'open': isPreviewDlgVisible }"
     ng-include="previewUrl()"></div>