<div class="screen-content">
    <div class="input-spacing" ng-click="showView('layout-menu')">
        <div class="arrow-holder clickable">
            <div class="arrow-left"></div>
        </div>
        <label class="label-larger grey-color clickable">Back to Layout Menu</label>
    </div>
    <div class="input-spacing page-main-title lesser-height">
        <span>Sign-off Page - {{projectManager.selectedLayout.ID}}</span>
    </div>

    <form name="sectionForm" novalidate>
        <wg-main-image number="01."
                       header="Upload the image for the Sign Off Banner."
                       details="The Sign Off image size is - W: 324 x H: 192 px. &lt;br /&gt; Use the text area field to enter the content that should appear on top of the image. &lt;br /&gt;&lt;i&gt;Note: Images with other size specifications cannot be uploaded.&lt;/i&gt;"
                       width="324"
                       height="192"
                       show-tc-text-editor="true"
                       open-upload-image-dialog-click="openUploadImageDialogClick(callbackOK)">
        </wg-main-image>
        <!--<wg-details number="02."
                    header="Enter Sign Off Page copy/text."
                    details="Please enter the offer copy in the text field provided and format the text as needed.">
        </wg-details>-->
        <wg-call-to-action number="02." header="Select the Call to Action (CTA) for the offer."
                           details="The Call to Action (CTA) determines how an offer will be fulfilled. Please select the appropriate CTA from the drop down menu. &lt;br /&gt;&lt;br /&gt;&lt;i&gt;Note: When the URL CTA is selected, please enter the hyperlink to the appropriate location.&lt;/i&gt;">
        </wg-call-to-action>
        <div ng-include="'../app/partials/action-bar-components.html'"></div>
    </form>
</div>
<div class="dialog noselect" ng-class="{'open': isPreviewDlgVisible }"
     ng-include="previewUrl()"></div>
