<div class="screen-content">
    <div class="input-spacing" ng-click="showView('layout-menu')">
        <div class=" arrow-holder clickable">
            <div class="arrow-left"></div>
        </div>
        <label class="label-larger grey-color clickable">Back to Layout Menu</label>
    </div>
    <div class="input-spacing page-main-title lesser-height">
        <span>Splash Page  - {{projectManager.selectedLayout.ID}}</span>
    </div>

    <form name="sectionForm" novalidate>
        <wg-main-image 
                       number="01." 
                       header="Upload the image for the Splash Page." 
                       details="The Splash Page image size is - W: 562 x H: 264 px. &lt;br /&gt;&lt;br /&gt;&lt;i&gt;Note: Images with other size specifications cannot be uploaded.&lt;/i&gt;" 
                       width="562" 
                       height="264" 
                       open-upload-image-dialog-click="openUploadImageDialogClick(callbackOK)">
        </wg-main-image>
        <wg-details 
                    number="02." 
                    header="Enter Splash Page offer copy/text." 
                    details="Please enter the offer copy in the text field provided and format the text as needed.">
        </wg-details>
        <wg-disclaimer 
                       number="03." 
                       header="Enter Splash Page disclaimer text." 
                       details="Please enter the disclaimer copy in the text field provided and format the text as needed. &lt;br /&gt;&lt;br /&gt;&lt;i&gt;Note: Select “Deactivate Component” if the offer does not require disclaimer text.&lt;/i&gt;" 
                       deactivatable="true">
        </wg-disclaimer>
        <wg-call-to-action 
                           number="04." 
                           header="Select the Call to Action (CTA) for the offer." 
                           details="The Call to Action (CTA) determines how an offer will be fulfilled. Please select the appropriate CTA from the drop down menu. &lt;br /&gt; &lt;br /&gt; &lt;i&gt;Note: When the URL CTA is selected, please enter the hyperlink to the appropriate location.&lt;/i&gt;" 
                           deactivatable="true" 
                           buttom-text-visible="true">
        </wg-call-to-action>
        <wg-reminder 
                     number="05." header="Set up the Reminder Call to Action (CTA)"
                     details="The Reminder CTA allows the client to request to see the offer again at another time, without accepting or rejecting the offer. Please select the appropriate reminder text from the drop down menu. &lt;br /&gt; &lt;br /&gt; &lt;i&gt;Note: The Reminder CTA is not needed for marketing only messaging that require no fulfillment. Select “Deactivate Component” if the offer does not require a Reminder CTA.&lt;/i&gt;"
                     deactivatable="true">
        </wg-reminder>
        <wg-offer-rejection number="06."
                            header="Set up the Rejection Call to Action (CTA)."
                            details="The Rejection CTA allows the  client to reject the offer, and the offer will not display again. Please select the appropriate rejection text from the drop down menu. &lt;br /&gt; &lt;br /&gt; &lt;i&gt;Note: The Rejection CTA is not needed for marketing only messaging that require no fulfillment. Select “Deactivate Component” if the offer does not require a Rejection CTA.&lt;/i&gt;"
                            deactivatable="true">
        </wg-offer-rejection>
        <div ng-include="'../app/partials/action-bar-components.html'"></div>
    </form>
</div>
<div class="dialog noselect" ng-class="{'open': isPreviewDlgVisible }"
     ng-include="previewUrl()"></div>